<div class="full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li><a href="/store">Store</a></li>
                  <li class="active">{{product.nama}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="ddd-produk-foto">
                    <img src="{{product.foto}}" alt="{{product.nama}}">
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="ddd-produk-qty input-group">
                  <span class="input-group-addon">Quantity</span>
                  <input ng-model="product.quantity" type="text" class="form-control" placeholder="1">
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Utilitas tambahan</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="utilitas" ng-model="product.antirayap" ng-true-value="10000" ng-false-value="0"> Anti Rayap
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="utilitas" ng-model="product.antiair" ng-true-value="60000" ng-false-value="0"> Anti Air
                            </label>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Total Biaya</div>
                    <div class="panel-body">
                        <div class="total-biaya pull-left">
                            <h3>
                                {{ formatRupiah(product) }}
                            </h3>
                        </div>
                        <button type="button" class="btn btn-success pull-right {{btnCart}}" ng-click="addToCart(product)"><span class="glyphicon glyphicon-heart"></span> Add To Cart</button>
                    </div>
                </div>
                <a ng-show="bayar" href="#/checkout" class="btn btn-success ddd-langsung-bayar">Langsung bayar <span class="glyphicon glyphicon-arrow-right"></span></a>
                <a ng-show="bayar" href="#" class="btn btn-danger ddd-langsung-bayar"><span class="glyphicon glyphicon-arrow-left"></span> Belanja lagi</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="ddd-produk-txt">
                    <h3>{{product.nama}}</h3>
                    <p>
                        {{product.deskripsi}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>