<div class="full-width" ng-controller="CartCtrl">
    <div class="container" ng-show="trxSuccess">
        <div class="row">
            <div class="col-lg-12 ddd-success">
                <p class="lead">Transaction Success!</p>
                <p class="text-muted">Please check your email</p>
            </div>
        </div>
    </div>
    <div class="container" ng-show="trxError">
        <div class="row">
            <div class="col-lg-12 ddd-error">
                <p class="lead">:( Something wrong!</p>
                <p class="text-muted">Please try again latter</p>
            </div>
        </div>
    </div>
    <div class="container" ng-show="trxshow">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                  <h1>Selected <small>Product</small></h1>
                </div>
                <table class="table">
                     <thead>
                         <tr>
                             <th>Product</th>
                             <th>Name</th>
                             <th>Quantity</th>
                             <th>Price</th>
                         </tr>
                     </thead>
                     <tbody class="table-stripped" ng-repeat="product in selected">
                             <tr>
                                 <td>
                                     <img class="cart-product-img" src="{{product.foto}}" alt="{{product.nama}}">
                                 </td>
                                 <td>{{product.nama}}</td>
                                 <td>{{ product.quantity }} Product</td>
                                 <td>{{ formatRupiah(product) }}</td>

                             </tr>
                     </tbody>
                 </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                  <h1>Buyer <small>Identity</small></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input ng-model="buyer.email" type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                  <label for="name">Full name</label>
                  <input ng-model="buyer.fullname" type="name" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input ng-model="buyer.phone" type="phone" class="form-control" id="phone" placeholder="Enter your phone">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="street">Street address &amp; Zip Code</label>
                  <input ng-model="buyer.addr" type="text" class="form-control" id="street" placeholder="Enter your complete street address">
                </div>
                <div class="form-group">
                  <label for="province">Province</label>
                  <input ng-model="buyer.province" type="text" class="form-control" id="province" placeholder="Enter your province">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input ng-model="buyer.country" type="text" class="form-control" id="country" placeholder="Enter your country">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                  <h1>Shipping <small>Address</small></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input ng-model="shipping.email" type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                  <label for="name">Full name</label>
                  <input ng-model="shipping.fullname" type="name" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input ng-model="shipping.phone" type="phone" class="form-control" id="phone" placeholder="Enter your phone">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="street">Street address &amp; Zip Code</label>
                  <input ng-model="shipping.addr" type="text" class="form-control" id="street" placeholder="Enter your complete street address">
                </div>
                <div class="form-group">
                  <label for="province">Province</label>
                  <input ng-model="shipping.province" type="text" class="form-control" id="province" placeholder="Enter your province">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input ng-model="shipping.country" type="text" class="form-control" id="country" placeholder="Enter your country">
                </div>
            </div>
            <div class="col-lg-12">
                <button ng-click="copyBuyerIdentity()" type="button" class="pull-right btn btn-info">Copy from Buyer Identity</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                  <h1>Payment <small>Details</small></h1>
                </div>
                <table class="table">
                     <thead>
                         <tr>
                             <th>Transaction Code</th>
                             <th>Quantity</th>
                             <th>Total</th>
                             <th>Shipping</th>
                         </tr>
                     </thead>
                     <tbody class="table-stripped" >
                             <tr>
                                 <td>{{tcode}}</td>
                                 <td>{{selected.length}}</td>
                                 <td>{{totalBiaya(selected)}}</td>
                                 <td>*</td>
                             </tr>
                     </tbody>
                 </table>
            </div>
        </div>

        <div class="row" style="margin-bottom: 300px;">
            <div class="col-lg-12">
                <p class="text-muted">
                    Please check your email for the payment details. Make sure you have entered the valid email address. If you have any question, please call us. </p>
                <button type="button" class="btn btn-success pull-right ddd-start-trx" ng-click="startTransaction()"> <span class="glyphicon glyphicon-ok-sign"></span> Start transaction</button>
            </div>
        </div>
    </div>
</div>