<div class="full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Store</a></li>
                  <li class="active">Product #1</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="ddd-product-display">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x600" alt="Product #1">
                        <div class="caption">
                            <h3>Product #1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo culpa, animi, maiores impedit consequuntur praesentium fuga error ipsa temporibus, sapiente totam quos accusamus cumque ullam laborum! Quas doloribus, dolores officia.</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque nesciunt, odit tempore ratione vero eius consequatur reprehenderit, ducimus perspiciatis quos porro aut ut. Iusto laudantium, labore modi? Accusamus, minima, amet?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo debitis officia, excepturi harum, veritatis consequuntur enim, quos accusantium animi eum ipsum labore molestiae, rem explicabo ad exercitationem. Laudantium quaerat, minima.
                            </p>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a data-target="#spec" role="tab" data-toggle="tab">Specification</a></li>
                                <li><a data-target="#other" role="tab" data-toggle="tab">Other Info</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div class="tab-pane fade in active" id="spec">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi doloribus alias enim iusto tempora. Neque rerum reprehenderit aliquid perspiciatis nam ratione eos, esse molestias, consectetur voluptates optio velit adipisci ipsam!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium temporibus repudiandae, ut vero, ipsam dolore ipsa, quis quod dolores consequatur repellendus earum quam, praesentium. Ex fuga mollitia quod voluptate voluptates.
                                </p>
                              </div>
                              <div class="tab-pane fade" id="other">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quae neque, quo fugiat, cumque minima explicabo, labore iure reprehenderit esse necessitatibus inventore recusandae. Placeat totam ad ex dolorem, minima, laborum?
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>