// sync with logo
.ddd-menu {
    padding-top: 15px;
}

// change navbar margin to zero
.navbar {
    margin-bottom: 0;
}

// change background navbar-default
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;

    // on collapsing
    .navbar-collapse {
        border-color: #FFF;
    }
}

// change navbar height to auto, fit to logo height
a.navbar-brand {
    height: auto;
}
a.navbar-brand > img {
    width: 144px;
}

// see if it's work
.navbar-nav {
    li {
        a {
            font-weight: bold;

            @media (min-width: 768px) {
                width: 100px;
                height: 156px;
                margin-right: 16px;
                color: #FFF!important;
                background-color: #B48444!important;
                text-align: center;
                padding-top: 110px;

                span {
                    font-size: 32px;
                    position: absolute;
                    margin-top: 30px;
                    left: 35%;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

}

// vertical center toogle menu button
.navbar-toggle-res {
    margin-top: 15px;
}

// dusdukduk footer
.dusdukduk-footer {
    margin-top: 60px;
    margin-bottom: 30px;
}
.dusdukduk-footer-right {
    text-align: right;
}

// banner
.ddd-banner-thumb {
    margin: 0;
    border: none;
    padding: 0;
}
.caption.ddd-banner-caption {
    margin-top: -250px;
    padding: 30px;

    h1 {
        font-weight: bold;
        font-size: 72px;
        color: white;
    }
    @media (max-width: 400px) {
        margin-top: -200px;

        h1 {
            font-size: 48px;
        }
    }
}
.ddd-banner-txt {
    height: 605px;
    background: #B48444;

    p {
        color: white;
        font-size: 16px;
        padding: 16px;
        text-align: justify;
        margin-top: 16px;
    }

    @media (max-width: 991px) {
        p {
            text-align: left;
            margin:0;
        }

        height: auto;
    }

    @media (max-width: 400px) {
        p {
            margin: 0;
            padding: 0 16px 16px 16px;
        }
        height: auto;
    }
}

// container
.ddd-cont {
    margin-top: 30px;
}

// logo on banner text
.ddd-logo {
    text-align: center;
    padding-top: 150px;

    img {
        width: 144px;
    }

    @media (max-width: 991px) {
        text-align: left;
        padding: 16px;
        float: left;
    }
    @media (max-width: 400px) {
        float: none;
        text-align: center;
    }
}

// ddd slider
.ddd-slider {
    background-color: #F8B334;
}

// slider txt
.ddd-slider-txt {
    h1 {
        font-size: 48px;
        font-weight: bold;
        color: #FFF;
    }
    p {
        color: #FFF;
        font-size: 16px;
    }
}

// slider img
.ddd-slider-img {
    img {
        width: 100%
    }
}