// change navbar margin to zero
.navbar {
    margin-bottom: 0;
}

// change background navbar-default
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;

    // on collapsing
    .navbar-collapse {
        border-color: #FFF;
    }
}

// change navbar height to auto, fit to logo height
a.navbar-brand {
    height: auto;
}
a.navbar-brand > img {
    width: 32px;
}

// see if it's work
.navbar-nav {
    li {
        a {
            font-weight: bold;

            @media (min-width: 768px) {
                padding-top: 22px;
                padding-bottom: 22px;
            }
        }
    }

}

// vertical center toogle menu button
.navbar-toggle {
    margin-top: 34.5px;
    @media (max-width: 480px) {
        margin-top: 15px;
    }
    @media (max-width: 767px) {
        margin-top: 23.5px;
    }
}

// Carousel
// full-width images
.carousel-inner>.item {
    @media (min-width: 768px) {
        height: 500px;
    }
    img {
        width: 100%;
    }
}

// cart button
.btn-group {
    @media (min-width: 768px) {
        padding: 16px 0;
    }
    @media (max-width: 480px) {
        .btn-cart {
            text-align: right;
            width: 100%;
        }
        .dropdown-menu {
            width: 100%;
        }
        width: 100%;
        margin-bottom: 15px;
    }
    @media (max-width: 767px) {
        .btn-cart {
            text-align: right;
            width: 100%;
        }
        .dropdown-menu {
            width: 100%;
        }
        width: 100%;
        margin-bottom: 15px;
    }
}

.btn-cart-show {
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 768px) {
        width: 480px;
    }
}

// display dropdown cart
img.cart-product-img {
    width: 72px;
}

// jumlah produk wrapper
.table>tbody>tr>td.btn-jumlah-product-wrapper {
    padding: 8px 0;

}

// adjust btn-checkout
.btn-cart-action {
    width: 100%;
    margin-bottom: 15px;
}