.selection-panel {
    width: 100%;
    padding-bottom: 16px;

    label {
        width: 50%;
    }
}

.utilitas {
    padding: 0;
    .active {
        color: #FFF;
        background-color: #449D44;
        border-color: #398439;
    }
}

.ddd-color-pane {
    margin-top: 16px;
}