.selection-panel {
    width: 100%;
    padding-bottom: 16px;

    label {
        width: 50%;
    }
}

.utilitas {
    padding: 0;
    .active {
        color: #FFF;
        background-color: #449D44;
        border-color: #398439;
    }
}

.ddd-color-pane {
    margin-top: 16px;
}

// product-display
.ddd-product-display {
    .thumbnail {
        border: none;
        margin: 0;
    }
}

// display per produk
.ddd-produk-foto {
    img {
        width: 100%;
    }
}

// quantity form
.ddd-produk-qty {
    @media (max-width: 991px) {
        margin-top: 20px;
    }
    margin-bottom: 20px;
}

.ddd-produk-txt {
    p {
        white-space: pre-line;
    }
}

.ddd-langsung-bayar {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
}

.ddd-additional-coat {
    @media (max-width: 375px) {
        label.ddd-additional-coat-label {
            float: left;
            margin-left: 5px;
        }
    }
}

// total biaya
.ddd-total-biaya {
    h3 {
        margin: 0;
    }
    @media (max-width: 355px) {
        margin-bottom: 20px;
    }
}