// cart button
.btn-group {
    @media (min-width: 768px) {
        padding: 16px 0 0 0;
    }
    @media (max-width: 480px) {
        .btn-cart {
            text-align: right;
            width: 100%;
        }
        .dropdown-menu {
            width: 100%;
        }
        width: 100%;
        margin-bottom: 15px;
    }
    @media (max-width: 767px) {
        .btn-cart {
            text-align: right;
            width: 100%;
        }
        .dropdown-menu {
            width: 100%;
        }
        width: 100%;
        margin-bottom: 15px;
    }
}

.btn-cart-show {
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 768px) {
        width: 480px;
    }
}

// display dropdown cart
img.cart-product-img {
    width: 72px;
    @media (min-width: 321px) {
        width: 144px;
    }
}

// jumlah produk wrapper
.table>tbody>tr>td.btn-jumlah-product-wrapper {
    padding: 8px 0;

}

// adjust btn-checkout
.btn-cart-action {
    width: 100%;
    margin-bottom: 15px;
}

// cart table
th.cart-product {
    @media (min-width: 321px){
        width: 180px;
    }
}

// for fixed navbar
body.store { padding-top: 70px; }

// product thumbnail
.product.thumbnail {
    margin-bottom: 0;
    border: none;
    border-radius: 0;

    .caption {
        padding: 0;
    }
}